.tile {
    width: 100px;
    height: 100px; 
    display: grid;
    place-content: baseline;
}

.black-tile {
    background-color: rgb(81, 137, 99);
}

.white-tile {
    background-color: rgb(115, 174, 127);
}

.tile img {
    width: 80px;
    height: 80px;
}

.board-piece {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: top;
}

.tile .board-piece:hover {
    cursor: grab;
}

.tile .board-piece:active {
    cursor: grabbing;    
}

.rank-file {
    position: relative;
    top: 5px;
    left: 5px;
    color: white;
    font-style: bold;
    padding: 2px;
}